*__pycache__
*.gz
*.pyc
*data/raw
*data/processed
*-ubyte
*wandb
data/sRNA/merged_inter.csv
*data/sRNA/merged_EcoCyc_RNAInter_sRNATarBase.csv
data/sRNA/merged_EcoCyc_RNAInter_sRNATarBase.csv
merged_EcoCyc_RNAInter_sRNATarBase.csv
notebooks/weight_saves
notebooks/data
notebooks_sRNA/data
src/nucleotide_transformer
src/core-bioreaction-simulation